.contenedorPrincipalLogin{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: stretch;
    background-color: var(--azul);
}

.contenedorLogin{
    width: 50%;
    padding: 5rem;
    min-height: 100%;
    background-color: var(--negro-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(15px 0px 10px rgba(10, 10, 10, 0.7));
}

.subContenedorLogin{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--blanco);
}

.subContenedorLogin h1{
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
}

.subContenedorLogin > p{
    width: 100%; 
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: 300;
    color: var(--blanco-hover);
}

.imagenFondoLogin{
    flex-grow: 1;
    background-image: url("../../assets/fondoLogin.jpg");
    background-blend-mode: multiply;
    background-color: rgb(10, 10, 10, 0.3);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.crearCuentaLogin{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crearCuentaLogin span{
    width: 90%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}

.crearCuentaLogin p{
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 300;
    color: var(--blanco-hover);
}

.crearCuentaLogin button{
    margin-top: 1rem;
    height: 40px;
    width: 160px;
    background-color: var(--blanco);
    border-radius: 0.5rem;
    color: var(--negro-fondo);
    font-size: 0.8rem;
    font-weight: 600;
    transition: all .3s ease;
}

.crearCuentaLogin button:hover{
    background-color: var(--blanco-hover);
}

@media (max-width: 576px) {

    .contenedorLogin{
        width: 100%;
        padding: 1.5rem;
    }
    
    .subContenedorLogin{
        width: 100%;
        align-items: center;
    }

    .subContenedorLogin h1{
        font-size: 2rem;
        text-align: center;
    }
    
    .subContenedorLogin > p{
        display: none;
    }
    
    .imagenFondoLogin{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 992px) {

    .contenedorLogin{
        width: 100%;
        padding: 1rem;
    }
    
    .subContenedorLogin{
        width: 100%;
        align-items: center;
    }

    .subContenedorLogin h1{
        font-size: 2rem;
        text-align: center;
    }
    
    .subContenedorLogin > p{
        display: none;
    }
    
    .imagenFondoLogin{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

    .contenedorLogin{
        padding: 5rem;
        filter: drop-shadow(15px 0px 10px rgba(10, 10, 10, 0.7));
    }
}

@media (min-width: 1200px) and (max-width: 1920px) {

    .contenedorLogin{
        padding: 5rem;
        filter: drop-shadow(15px 0px 10px rgba(10, 10, 10, 0.7));
    }
}

@media (min-width: 1920px) {

    .contenedorLogin{
        padding: 5rem;
        filter: drop-shadow(15px 0px 10px rgba(10, 10, 10, 0.7));
    }
}