.footer {
    background-color: var(--negro-fondo);
    color: var(--blanco);
    padding: 2rem;
}

.footer header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    justify-content: space-between;
}

.footerLogo {
    width: 200px;
}

.footerLogo img {
    width: 100%;
}

.footerSocial ul {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.footerSocial li {
    list-style: none;
}

.footerSocial .footerSocialLink {
    border-radius: 100%;
    border: 2px solid var(--blanco);
    padding: 0.5rem;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.footerSocial .footerSocialLink:hover {
    background-color: var(--blanco);
}

.footerSocialLink:hover > img {
    filter: invert(100%);
}

.footerSocial img {
    width: 100%;
    transition: 0.3s;
    transition: 0.3s;
}

.footerDivisor {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    margin: 2rem 0rem;
}

.footer footer {
    margin-top: 2rem;
    color: #777;
    text-align: end;
}

@media (min-width: 576px) {
    .footerSocial ul {
        gap: 1rem;
    }
}

@media (min-width: 992px) {
    .footer header {
        flex-direction: row;
    }

    .footerSocial ul {
        gap: 0.5rem;
    }
}